.operation {
  @include adaptiveValue("padding-top", 120, 40);
  @include adaptiveValue("padding-bottom", 86, 50);
  background: $section-background-color;

  /* .operation__container */
  &__container {
    display: flex;
    align-items: center;

    @media (max-width:$mobile) {
      flex-direction: column;
      gap: 50px;
    }
  }

  /* .operation__content */
  &__content {
    flex: 1 1 53.030%;
    @include adaptiveValue("padding-right", 40, 0);

    @media (max-width:$mobile) {
      padding: 0;
    }
  }

  /* .operation__title */
  &__title {
    margin: 0px 0px 44px 0px;

    font-size: 2.1em;
  }

  /* .operation__text */
  &__text {
    font-size: 1.25em;
  }

  /* .operation__image */

  &__image {
    flex: 1 1 34.090%;
  }

  img {
    width: 100%;
    // max-width: 100%;
  }
}